*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    width:100%;
    height:100%;
  
}

.login-background{
width:60%;
min-height:100vh;
background-image: url(img/background.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display:flex;
border-right:2px solid  #333333;
position:relative;
justify-content: center;
}
.login-background-register{
    width:60%;
    height:100vh;
    position:sticky;
    top:0;
    left:0;
}
.login-background h1{
    font-size:70px;
    position: fixed;
    text-shadow: 4px 5px 9px rgba(28,110,164,0.86);
    color:white;
    text-align: center;
    top:200px;
}
.login{
   width:40%;
    min-width: 500px;
    overflow: hidden;
}
.login-container{
    width:100%;
    height:100%;
    display:flex;
}
.login-container-login-form{
    flex:1;
    background-color:white;
    transition:1s;
    
}
.login-container-login-form .login-form-title,
.login-container-register-form .login-form-title{
    display: block;
    width: 100%;
    font-size: 25px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
}
.login-container-login-form .login-form-title h2,
.login-container-register-form .login-form-title h3{
    padding:30px;
}
.wrap-input{
    width: 90%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin: 20px auto 45px auto;
}
.input{
        display: block;
        width: 100%;
        height: 50px;
        background: transparent;
        font-size: 22px;
        color: #555555;
        line-height: 1.2;
        border:none;
        padding: 0 2px;
        outline:none;
        
}
.input-file{
    margin-top:10px;
    font-size:15px;
    height:30px;
}
.input-file-wrap{
    margin:20px auto 15px auto;
}
.error-Input-file{
    display:block;
    width:90%;
    height:20px;
    margin:0 auto;
    color:crimson;
}
.error{
    margin:35px auto;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: #d5007d;
    background: linear-gradient(45deg, #d5007d, #e53935);
  }
  .input:focus ~ .focus-input::before {
    width: 100%;
  }
  .input:valid ~.focus-input::before{
      width:100%;
  }

  .label-input{
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
  }
  .wrap-buttons{
      width:90%;
      height:100px;
      margin:auto;
      display:flex;
      justify-content: space-between;
  }
  button{
      outline:none;
      background:transparent;
      border:none;
  }
  .button_Sign-In{
      display:flex;
      width:150px;
      height:50px;
      background: #6e435c;
      background: linear-gradient(45deg, #644f5b, #c9706f);
      justify-content: center;
      align-items: center;
      font-size:16px;
      padding:0 20px;
      border-radius:20px;
      cursor: pointer;
      color:white;
  }
  .button_Sign-Up{
      display:flex;
      width:100px;
      height:50px;
      justify-content: center;
      align-items: center;
      cursor:pointer;
      color:#666666;
      margin-right: 20px;
  }
  .button_Sign-Up i {
      margin: 0 5px;
  }
  .terms{
      display:flex;
      justify-content: center;
  }
  .terms b{
      margin-left:5px;
  }
  .terms:hover{
      cursor:pointer;
  }
  .terms b:hover{
      color:blue;
  }
  .login-container-register-form{
      flex:1;
      transition:1s;
      opacity:0;
      display:none;
  }
  .info-span{
      display:block;
      width:90%;
      margin:15px auto;
      height:20px;
      color:red;
  }
 
/* meess page */

.mess-page{
    width:100%;
    height:100vh;
    overflow: hidden;
}
.container-mess-page{
    width:100%;
    height:100%;
    display:flex;
}
/* channel */
.channel-container{
    height:100%;
    width:50%;
    transition:1s;
    background-color:gray;
    z-index: 2;
    }


    .channel-public{
        width:70px;
        height:70px;
        border-radius:50%;
        background-color:blue;
        margin:20px auto 0 auto;
    }
    .public-chan-name{
        font-size:20px;
        padding:5px;
        text-align: center;
    }
    .public-one{
        text-align: center;
        width:100%;
        height:20px;
        display:block;
    }
   
    /* messenger */
  
    .messenger{
    background-color:blue;
    transition:1s;
    height:100%;
display:none;
    width:0%;
    opacity:0;
    }
    .messenger-top{
        width:100%;
        display:flex;
        height:50px;
        flex-direction: column;
        background-color:red;
    }
    .mess-top-container{
        width:100%;
        height:25px;
        display:flex;
        justify-content: space-between;
    }
    .mess-top-title{
        width:100%;
        height:25px;
        display:block;
        text-align: center;
    }
    /* user profile */
    .user-profile-container{
        width:50%;
        height:100%;
        transition:1s;
        background-color:gray;
        z-index: 2;
    }
/* test  */
.tete{
    width:60px;
    height:60px;
}
/* adding new channel form */

.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}



  @media only screen and (max-width:1000px){
    .header{
        flex-direction: column;
    }
    .login{
        width:100%;
        height:100%;
        min-width: initial;
    }
    .login-background{
     width:100%;
     min-height:200px;
    }
    .login-background-register{
        position:initial;
        height:initial;
        top:initial;
        left:initial;
    }
    .login-background h1{
        position: absolute;
        text-shadow: 4px 5px 9px rgba(28,110,164,0.86);
        color:white;
        text-align: center;
      margin:auto;
      top:50px;
      font-size:30px;
    }

  }
  @media only screen and (max-width:700px){


}
  @media only screen and (max-width:360px){
    .error {
        margin: 60px auto;
    }
    .terms{
        flex-direction: column;
 
    }
    .terms b {
        margin-left:0px;
    }
  }