*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.login-page{
width:100%;
height:100vh;
display:flex;
background-color:blue;
}
.login-page-login-form{
    flex:1;
    display:flex;
}
.login-form{
    width:500px;
    height:500px;
    margin:auto;
    overflow: hidden;
}
.login-form-container{
    width:200%;
    height:100%;
    display:flex;
}
/* login */
.login{
width:100%;
height:100%;
display:flex;
flex-direction: column;
transition:1s;
background-color:greenyellow;
}
.login h1, h2{
    text-align: center;
    padding:20px;
}

.login-form_glob{
    display:flex;
    flex-direction: column;
    width:80%;
    margin:0 auto;
}
.login-form_glob input[type=text], input[type=password],
.register_second_data input[type=text], input[type=password]{
    width:90%;
    height:30px;
    margin:0 auto;
    background:none;
    border:none;
    border-bottom:2px solid white;
    outline:none;
}
.login-form_glob input:focus[type=text],
.register_second_data input:focus[type=text]{
    outline:none;
}
.login-form_glob input[type=submit],
.register_buttons input[type=submit]{
    width:80px;
    height:30px;
    background:none;
    border:none;
    border:2px solid white;
    margin:15px auto 0 15px;

}
.login-form_glob label,
.register_second_data label{
    padding:15px;
}
.login-form_glob p,
.register_second_data p{
    padding:10px;
}
.login-form_glob a,
.register_buttons a{
    cursor: pointer;
    color:blue;
}
.register_second_data input[type=file]{
    width:100%;
    height:30px;
    margin:auto auto auto 10px;
    outline:none;
    cursor: pointer;
}

.register{
width:100%;
height:100%;
transition:1s;
background-color:greenyellow;
display:flex;
flex-direction: column;
}
.account-register{
    flex:3;
    display:flex;
    
}
.account-register .login-form_glob{
    flex:1;
}
.register_buttons{
    margin: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.register_second_data{
    display:flex;
    flex:1;
    flex-direction: column;
}
.error{
    font-size:10px;
    color:red;
    padding:20px;
}
/*messenger page */
.messanger-page{
    width:100%;
    height:100vh;
    display:none;

}
.messenger{
    flex:1;
    background-color:gray;
}
.messenger-mess{
    width:90%;
    margin:0 auto;
    height:80%;
    background-color:blue;
}
.messenger-text{
    width:100%;
    height:20%;
    background-color:red;
}
.text-area-mess{
   width:70%;
   display:flex;
   margin:0 auto;
    height:50px;
}
.user-profile{
    flex:1;
}